{% extends "layout.html" %}
{% block content %}
  <div class="home">
    <h1 style="text-align:center; color:PaleVioletRed;"> PPP - PYTHON PROTECTS PROTESTORS </h1>
    <h1 style="text-align:center">Join in the fight - BLACK LIVES MATTER</h1>
    <h3 style="text-align:center">How much are YOU at risk? </h3>

    <form style="text-align:center" method="POST">
      <label for="city">Enter your city:</label><br>
      <input type="text" id="city" name="city"><br>
<!--      <label for="state">Enter your state:</label><br>-->
<!--      <input type="text" id="state" name="state"><br>-->
      <input type="submit" value="Submit">
    </form>

      <img src="https://media2.s-nbcnews.com/j/newscms/2020_23/3382051/200606-washington-demonstration-al-1549_e1c57b283c615f899ba66a0168460c8b.fit-760w.jpg"
           alt="BLM" class="center">


  </div>
{% endblock %}