{% extends "layout.html" %}
{% block content %}
   <div class="tips">
     <h1>TOP TIPS TO STAY SAFE WHILE SUPPORTING #BLM</h1>
       <p>
           <img src="https://media.npr.org/assets/img/2020/06/05/cov_faq1_wide-2b9baa1ffda6f537c0e35eba6deb62c481f74b39.jpg"
                alt="safe" class="center">
       </p>
       <h3 style="color:tomato">
           TIP #1: Wear a mask!
       </h3>
       <h4>
           Wearing a mask is the simplest, yet one of the most effective ways to avoid getting Coronavirus. It doesn't get easier than this!
       </h4>
       <h3 style="color:tomato">
           TIP #2: Pack Right
       </h3>
       <h4>
           Some things to bring: WATER, granola bars (or other light snacks), a bag or backpack, a hat, hand sanitizer, and a sign.
       </h4>
       <h3 style="color:tomato">
           TIP #3: Dress Comfortably
       </h3>
       <h4>
           Wear tennis shoes and black clothing to fit in with other protesters. An extra pair of clothes wouldn't hurt.
       </h4>
       <h3 style="color:tomato">
           TIP #4: Educate Yourself
       </h3>
       <h4>
           Before walking the streets with the Black Lives Matter movement, make sure you know what you're standing for. Do your research.
       </h4>
       <h3 style="color:tomato">
           TIP #5: Know Your Rights
       </h3>
       <h4>
           Just in case something bad happens, check up on your rights. The First Amendment gives Americans the right to assemble peacefully.
       </h4>

   </div>
{% endblock %}